
.board {
    height: 440px;
    width: 640px;
    border-radius: 7px;
    background-color: #E60000;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 2px 2px 5px 2px #B20000;
}

.board h3 {
    text-align: center;
    padding-top: 20px;
}

.text-box {
    position: relative;
    height: 300px;
    width: 500px;
    top: -30px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: 1px 1px 5px #808080;
    background-color: #B8B8B8;
    z-index: 1;
    margin: 0 auto;
    overflow: auto;
}

#knob-one {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: black;
    
    display: inline-block;
    top: -25px;
    left: 10px;
}

#knob-two {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: black;
    
    display: inline-block;
    top: -25px;
    left: 505px;
}

/*
#items-input {
    position: absolute;
    margin-top: 20px;
    margin-left: 60px;
    padding-bottom: 5px;
    border: 2px solid #4C4C4C;
    text-align: center;
    background-color: #B8B8B8;
    outline: none;
    overflow: auto;
}

#items-input::-webkit-input-placeholder {
    color: #4C4C4C;
    font-size: 14px;
}

#items-input:-moz-placeholder {
    color: #4C4C4C;
    font-size: 14px;
}

#items-input::-moz-placeholder {
    color: #4C4C4C;
    font-size: 14px;
}

#items-input:-ms-placeholder {
    color: #4C4C4C;
    font-size: 14px;
}
*/

#input-items {
    position: relative;
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 2px solid #4C4C4C;
    text-align: center;
    color: #4C4C4C;
    background-color: #B8B8B8;
    overflow: auto;
}

.items {
    position: relative;
    margin: 60px;
    margin-top: 0;
    padding-left: 15px;
    display: block;
    /*border: 2px solid #4C4C4C;*/
}

.items p {
    color: #4C4C4C;
}

#crossout {
    text-decoration: line-through;
}

#bottom-text {
    text-align: center;
    position: relative;
    top: 335px;
}