body {
    background: url(plain-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    position: relative;
    text-align: center;
    margin-top: 40px;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
}

input {
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 350px;
    padding: 4px;
    font-family: 'Electrolize', sans-serif;
    font-size: 15px;
    background-color: #B8B8B8;
    border: 2px solid #4C4C4C;
}

input::-webkit-input-placeholder {
    color: #4C4C4C;
}

input:-moz-placeholder {
    color: #4C4C4C;
}

input::-moz-placeholder {
    color: #4C4C4C;
}

input:-ms-placeholder {
    color: #4C4C4C;
}

input:focus {
    outline: none;
}

.board {
    height: 440px;
    width: 640px;
    border-radius: 7px;
    background-color: #E60000;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 5px -5px 5px 2px /*#B80000*/ #660000;
}

#magic {
    position: absolute;
    font-family: 'Fugaz One', cursive;
    font-size: 14px;
    color: #FFCC00;
    margin-left: 170px;
    margin-top: 25px;
}

#brand {
    text-align: center;
    padding-top: 15px;
    font-family: 'Arizonia', cursive;
    font-size: 30px;
    color: #FFCC00;
    margin: 0 auto;
}

#screen {
    position: absolute;
    font-family: 'Fugaz One', cursive;
    font-size: 14px;
    color: #FFCC00;
    margin-left: 430px;
    margin-top: -27px;
}

.text-board {
    position: relative;
    height: 300px;
    width: 500px;
    top: -30px;
    border-radius: 5px;
    border: 1px solid #808080;
    box-shadow: 1px 1px 5px #808080;
    background-color: #B8B8B8;
    z-index: 1;
    margin: 0 auto;
    overflow: auto;
}

#knob-left {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 4px -4px #E6E6E6;
    
    margin-top: -30px;
    margin-left: 10px;
}

#knob-right {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: -4px -4px #E6E6E6;
    
    margin-top: -30px;
    margin-left: 570px;
}

#input-items {
    position: relative;
    width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 2px solid #4C4C4C;
    text-align: center;
    /*font-family: 'Obitron', sans-serif;*/
    font-family: 'Electrolize', sans-serif;
    color: #4C4C4C;
    background-color: #B8B8B8;
    overflow: auto;
}

.items {
    position: relative;
    margin: 60px;
    margin-top: 0;
    padding-left: 15px;
    display: block;
    font-family: 'Electrolize', sans-serif;
    color: #4C4C4C;
    /*border: 2px solid #4C4C4C;*/
}

.items p {
    /*font-family: 'Orbitron', sans-serif;*/
    font-family: 'Electrolize', sans-serif;
    color: #4C4C4C;
    display: block;
    cursor: crosshair;
}

.crossout {
    text-decoration: line-through;
}

.left-glow {
    animation: deleteOn 1s infinite;
    -webkit-animation: deleteOn 1s infinite;
    -moz-animation: deleteOn 1s infinite;
}

@keyframes deleteOn {
    0% {
        background: radial-gradient(circle, #FFFF66 30%, transparent 70%), #FFFF00;
    }
}

@-webkit-keyframes deleteOn {
    0% {
    background: radial-gradient(circle, #FFFF66 30%, transparent 70%), #FFFF00;
    }
}

@-moz-keyframes deleteOn {
    0% {
    background: radial-gradient(circle, #FFFF66 30%, transparent 70%), #FFFF00;
    }
}

.right-glow {
    animation: removeAll 1s;
    -webkit-animation: removeAll 1s;
    -moz-animation: removeAll 1s;
}

@keyframes removeAll {
    0% {
        background: radial-gradient(circle, #FFFF66 30%, transparent 70%), #FFFF00;
    }
}

@-webkit-keyframes removeAll {
    0% {
    background: radial-gradient(circle, #FFFF66 30%, transparent 70%), #FFFF00;
    }
}

@-moz-keyframes removeAll {
    0% {
    background: radial-gradient(circle, #FFFF66 30%, transparent 70%), #FFFF00;
    }
}

#bottom-text {
    font-family: 'Orbitron', sans-serif;
    color: #FFCC00;
    text-align: center;
    position: relative;
    top: 335px;
}